# Check on augment levels

This notebook loads the augments that have been created so far and shows how many augments of each model/temp have been generated.

In [23]:
import pandas as pd
from IPython.display import display, HTML

In [29]:
# Read csvs
dfs = [pd.read_csv(f'./data/stratified_data_splits/{str(i+1)}/augments.csv') for i in range(4)]

# Drop empty rows and rows where text is just a bunch of # signs
dfs = [df[df.text.notna() & (~df.text.str.contains("^#+$", na=False, regex=True))] for df in dfs]

In [30]:
for i,df in enumerate(dfs):
    # Group by model_id and temperature and count the size of each group
    counts = df.groupby(['model_id', 'temperature']).size().unstack().fillna(0).astype(int)
    
    # Display the result
    display(HTML(f'<h1>Stratified training fold {i+1}'))
    display(counts)

temperature                    0.1  0.3  0.5   0.7  0.9  1.0  1.1  1.3  1.5
model_id
chavinlo/alpaca-native         580    0    0     0    0    0    0    0    0
decapoda-research/llama-7b-hf  158  130  132    72    0    0    0    0    0
facebook/opt-1.3b                0    0    0     0    0   19    0    0    0
gpt2                           550  219  170     0    0    0    0    0    0
huggyllama/llama-13b             9   47  136   183  231    0  264  282  286
huggyllama/llama-30b             3    6   41    85  112    0  157  170  181
huggyllama/llama-7b            114  139  162   169  174    0  184  196  196
nomic-ai/gpt4all-13b-snoozy      0    0    0  3905    0   26    0    0    0

temperature             0.1  0.3  0.5  0.7  0.9  1.1  1.3  1.5
model_id
chavinlo/alpaca-native  160    0    0    0    0    0    0    0
huggyllama/llama-13b      7   27   74  130  158  181  189  191
huggyllama/llama-30b      0   10   23   38   50   66   80   86
huggyllama/llama-7b      62   66   73   85   90   88   97   97

temperature             0.1  0.3  0.5  0.7  0.9  1.1  1.3  1.5
model_id
chavinlo/alpaca-native  100    0    0    0    0    0    0    0
huggyllama/llama-13b      2   39   74  132  164  180  187  189
huggyllama/llama-30b      5    9   32   51   73   87   84   87
huggyllama/llama-7b      89   93   95   95   94   95   97  100

temperature             0.1  0.3  0.5  0.7  0.9  1.1  1.3  1.5
model_id
chavinlo/alpaca-native  100    0    0    0    0    0    0    0
huggyllama/llama-13b      1   30   77  125  158  181  189  192
huggyllama/llama-30b      1    7   28   40   55   77   81   88
huggyllama/llama-7b      45   75   79   93   93   90   97   97